/* ------------interface1--------------*/
:root {
  --main-color: #6DBFE2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Serif', serif;
}

ul {
  list-style: none;


}

a {
  text-decoration: none;
}

.video-container {
  height: 100vh;
  width: 100vw;
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

header {
  position: relative;
}

.header-top i {
  position: fixed;
  margin: 12px;
  font-size: 50px;
  color: var(--main-color);
  cursor: pointer;
  z-index: 1;
}

.header-top ul {
  position: fixed;
  right: 0;
  width: 300px;
  height: 100vh;
  margin-right: 40px;
  padding: 150px 0 50px 50px;
  display: none;
  opacity: 1;
  z-index: 1;
}

.header-top ul li {
  margin-bottom: 20px;
  font-size: 20px;
  cursor: pointer;
  animation: fade 0.3s linear backwards;
  animation-delay: calc(0.3s * var(--x));
}

@keyframes fade {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }
}

.header-top ul li a {
  display: block;
  background-color: rgba(17, 1, 1, 0.812);
  transition: all 0.3s ease;
  padding: 12px;
  border-radius: 5px;
  color: #fff;
}

.header-top ul li a:hover {
  color: tomato;
}

.header-content {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 150px 50px 0 50px;
  text-align: center;
  width: 400px;
}

.header-content>h1 {
  color: var(--main-color);
}

.header-content>p {
  color: var(--main-color);
}

form {
  padding: 30px 12px;
  background-color: #fff;
  margin-top: 30px;

}

form h1 {
  color: #333;
  font-size: 27px;
}

form select,
input {
  width: 100%;
  height: 35px;
  padding-left: 12px;
  outline: none;
  background-color: #dddd;
  border: none;
}

form p {
  text-align: left;
  color: var(--main-color);
  margin: 8px 0 3px 0;
}

form button {
  height: 35px;
  width: 150px;
  background-color: var(--main-color);
  color: #fff;
  margin-top: 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: all .3s;
}

form button:hover {
  background-color: transparent;
  border: 1px solid var(--main-color);
  color: var(--main-color);
}

/* -----------------------interface 2--------------------*/
@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');
.interface2 {
    background-image: url('background/23.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  
}
.nice-place {
  padding: 100px 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container2 {
  max-width: 88%;
  margin: auto;
}

.nice-place-item {
  width: 30%;
  height: 400px;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}

.nice-place-item img {
  margin-top: 60px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  border-radius: 20px;
}

.nice-place-item:hover .nice-place-text {
  transform: translateX(0%);
}

.nice-place-text {
  position: absolute;
  width: 100%;
  height: 200px;
  bottom: 0;
  padding: 12px;
  background: linear-gradient(to right, rgba(0, 0, 0, 8), rgba(255, 255, 255, 0));
  transform: translateX(-100%);
  transition: all 0.8s ease;
  border-radius: 20px;
}

.nice-place-text h2 {
  color: var(--main-color);

}

.nice-place-text i {
  color: yellow;

}

.nice-place-text p {
  color: #fff;
  margin: 12px 0;

}

.nice-place-text button {
  height: 30px;
  width: 100px;
  background-color: var(--main-color);
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.5s ease;
}

.nice-place-text button:hover {
  background-color: tomato;
}

.container2 h1 {
  font-family: 'Sigmar', cursive;
  font-size: 80px;
  text-align: center;
  margin-bottom: 50px;
  color:black;
  position: relative;
  border-radius: 20px;
} 
/* ---------------- interface3-------------*/
.interface3 {
  background-image: url('background/clouds-1282314.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}
.tour {
  width: 85%;
  margin: auto;
  padding: 100px 0;
}
.tour-content-item {
  width: 100%;
  border-radius: 20px;
}
.tour-content-item-img {
  width: 50%;
  height: 300px;
  border-radius: 20px;
}
.tour-content-item-img img {
width: 100%;
height: 100%;
object-fit: cover;
border-radius: 20px;

}
.tour-content-item-text {
  width: 50%;
  padding: 20px 0 0 50px;
}
.container h1 {
  font-family: 'Sigmar', cursive;
  font-size: 80px;
  text-align: center;
  margin-bottom: 50px;
  color: black;
  position: relative;
}
.tour-content-item-text button {
  height: 30px;
  width: 100px;
  background-color: var(--main-color);
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.5s ease;
}

.tour-content-item-text button:hover {
  background-color: tomato;
}
.tour-content-item-text h2 {
  font-weight: normal;
  color: var(--main-color);

}
.tour-content-item-text p {
  font-size: 18px;
  margin: 20px 0;
}
.tour-content-item {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}
.tour-content-item:nth-child(even){
  flex-direction: row-reverse;
}